.message {
  display: flex;
}

.container {
  margin: 0.6rem;
  width: fit-content;
  border-radius: 25px;
}

.my-message-background {
  background-color: #8AA89C;
}

.default-message-background {
  background-color: #C2DFE3;
}
